---
import "@/styles/container.scss";
import BaseLayout from "../BaseLayout/index.astro";
import "./index.scss";
import { fetchCodes, fetchTitle } from "@/utils/fetchCodes";
import Code from "@/components/Code.astro";

const { frontmatter } = Astro.props;

const currentPost = frontmatter.url.split("/").at(-1);

const obj = await fetchCodes();
const titleMapper = await fetchTitle();
const codes = obj[currentPost] || [];
---

<BaseLayout>
  <div class="root">
    <article class="code-layout">
      <h1>{frontmatter.title || titleMapper[currentPost]}</h1>
      <slot />
      {codes.length && <Code groups={codes} />}
    </article>
  </div>
</BaseLayout>
