---
import "@/styles/container.scss";
import "./index.scss";
import { fetchCodes } from "@/utils/fetchCodes";
import Code from "@/components/Code.astro";

const { frontmatter } = Astro.props;

const currentPost = frontmatter.url.split("/").at(-1);

const obj = await fetchCodes();
const codes = obj[currentPost] || [];
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>工具箱 - {frontmatter.title}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <div class="root">
      <article class="code-layout">
        <h1>{frontmatter.title}</h1>
        <slot />
        {codes.length && <Code groups={codes} />}
      </article>
    </div>
  </body>
</html>

<style>
  body {
    margin: 0;
  }
</style>
