---
import { fetchCodes, fetchTitle } from "@/utils/fetchCodes";

const titleMap = await fetchTitle();
const codesMap = await fetchCodes();
---

<html>
  <head>
    <meta charset="utf-8" />
  </head>

  <body>
    <div class="wrapper">
      {
        Object.entries(titleMap)
          .sort()
          .map(([post, title]) => (
            <a href={`tool-codes/${post}`}>
              <span>{title}</span>
              <div class="icon-wrapper">
                {codesMap[post] &&
                  codesMap[post].map(({ lang }) => <div data-lang={lang} />)}
              </div>
            </a>
          ))
      }
    </div>
  </body>
</html>
<style lang="scss">
  @import url(../styles/iconVars);

  .wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 960px;
    margin: auto;
    height: 100vh;

    a {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 1rem;
      padding: 2rem 1rem;
      text-decoration: none;
      color: rgba(100, 100, 100, 0.5);
      font-size: large;
      font-weight: bold;
      box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.2);

      .icon-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
      }
      [data-lang] {
        background-repeat: no-repeat;
        background-size: 20px;
        display: inline-block;
        width: 30px;
        height: 30px;
        &[data-lang="js"] {
          background-image: var(--icon-javascript);
        }
        &[data-lang="ts"] {
          background-image: var(--icon-typescript);
        }
        &[data-lang="java"] {
          background-image: var(--icon-java);
        }
        &[data-lang="py"] {
          background-image: var(--icon-python);
        }
        &[data-lang="rs"] {
          background-image: var(--icon-rust);
        }
        &[data-lang="go"] {
          background-image: var(--icon-go);
        }
      }
    }
  }
</style>
