---
// Welcome to Astro! Everything between these triple-dash code fences
// is your "component front matter". It never runs in the browser.
console.log("This runs in your terminal, not the browser!");

const codeTools = await Astro.glob("./tool-codes/*.{md,mdx}");
---

<!-- Below is your "component template." It's just HTML, but with
     some magic sprinkled in to help you build great templates. -->
<html>
  <head>
    <meta charset="utf-8" />
  </head>

  <body>
    <div>
      {
        codeTools.map((codeTool) => (
          <a href={codeTool.url}>{codeTool.frontmatter.title}</a>
        ))
      }
    </div>
  </body>
</html>
<style>
  h1 {
    color: orange;
  }
</style>
