---
// TODO: 看看能不能支持暗色模式（包括代码块？）
import { fetchTitle } from "@/utils/fetchCodes";

const titles = await fetchTitle();
const post = Astro.url.pathname.split("/").at(-1);
const title = titles[post] || "";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>工具箱{title ? ` - ${title}` : ""}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <header class="header">
      <a href="/" class="home"></a>
      <a
        href="https://github.com/qiutongxue/use-algorithm-site"
        class="link github"></a>
    </header>
    <slot />
  </body>
</html>

<style>
  body {
    margin: 0;
  }

  header {
    background-color: #fff;
    display: flex;
    align-items: center;
    padding: 0 1rem;
    justify-content: start;
    height: 60px;
    position: fixed;
    left: 0;
    right: 0;
    margin: 0;
    z-index: 999;
    border-bottom: 1px solid #ddd;
  }

  header .home {
    display: block;
    height: 50px;
    width: 260px;
    background-size: 16rem;
    background-position: 0 50%;
    background-repeat: no-repeat;
    background-image: url("/ua.svg");
  }

  header .link {
    margin-left: auto;
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 100%;
  }

  header .link.github {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxZW0iIGhlaWdodD0iMWVtIiB2aWV3Qm94PSIwIDAgMzIgMzIiPjxwYXRoIGZpbGw9IiM4ODg4ODgiIGZpbGwtcnVsZT0iZXZlbm9kZCIgZD0iTTE2IDJhMTQgMTQgMCAwIDAtNC40MyAyNy4yOGMuNy4xMyAxLS4zIDEtLjY3di0yLjM4Yy0zLjg5Ljg0LTQuNzEtMS44OC00LjcxLTEuODhhMy43MSAzLjcxIDAgMCAwLTEuNjItMi4wNWMtMS4yNy0uODYuMS0uODUuMS0uODVhMi45NCAyLjk0IDAgMCAxIDIuMTQgMS40NWEzIDMgMCAwIDAgNC4wOCAxLjE2YTIuOTMgMi45MyAwIDAgMSAuODgtMS44N2MtMy4xLS4zNi02LjM3LTEuNTYtNi4zNy02LjkyYTUuNCA1LjQgMCAwIDEgMS40NC0zLjc2YTUgNSAwIDAgMSAuMTQtMy43czEuMTctLjM4IDMuODUgMS40M2ExMy4zIDEzLjMgMCAwIDEgNyAwYzIuNjctMS44MSAzLjg0LTEuNDMgMy44NC0xLjQzYTUgNSAwIDAgMSAuMTQgMy43YTUuNCA1LjQgMCAwIDEgMS40NCAzLjc2YzAgNS4zOC0zLjI3IDYuNTYtNi4zOSA2LjkxYTMuMzMgMy4zMyAwIDAgMSAuOTUgMi41OXYzLjg0YzAgLjQ2LjI1LjgxIDEgLjY3QTE0IDE0IDAgMCAwIDE2IDJaIi8+PC9zdmc+);
  }
</style>
