---
// TODO: 看看能不能支持暗色模式（包括代码块？）
---

<html lang="zh-CN">
    <head>
        <meta charset="utf-8" />
        <title>Use Algorithm</title>
        <link href="/favicon.svg" rel="icon" type="image/svg+xml" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
    </head>
    <body>
        <a href="https://github.com/qiutongxue/use-algorithm-site" class="link github"></a>
        <slot />
    </body>
</html>

<style>
    @import '../../styles/iconVars.css';
    body {
        margin: 0;
    }

    header {
        background-color: #fff;
        display: flex;
        align-items: center;
        padding: 0 1rem;
        justify-content: start;
        height: 60px;
        position: fixed;
        left: 0;
        right: 0;
        margin: 0;
        z-index: 999;
        border-bottom: 1px solid #ddd;
    }

    header .home {
        display: block;
        height: 50px;
        width: 260px;
        background-size: 16rem;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-image: url('/ua.svg');
    }

    .link {
        position: absolute;
        display: block;
        right: 1.5rem;
        top: 1.5rem;
        width: 25px;
        height: 25px;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: 100%;
    }

    .link.github {
        background-image: var(--icon-github);
    }

    @media screen and (max-width: 600px) {
        header .home {
            background-image: url('/ua_sm.svg');
            background-size: 100%;
            width: 5rem;
            position: relative;
        }
    }
</style>
