---
// TODO: 看看能不能支持暗色模式（包括代码块？）
import { fetchTitle } from "@/utils/fetchCodes";

const titles = await fetchTitle();
const post = Astro.url.pathname.split("/").at(-1);
const title = titles[post] || "";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>工具箱{title ? ` - ${title}` : ""}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <header class="header">
      <a href="/"> </a>
    </header>
    <slot />
  </body>
</html>

<style>
  body {
    margin: 0;
  }

  header {
    background-color: #fff;
    display: flex;
    align-items: center;
    padding: 0 1rem;
    justify-content: start;
    height: 60px;
    position: fixed;
    left: 0;
    right: 0;
    margin: 0;
    z-index: 999;
    border-bottom: 1px solid #ddd;
  }

  header a {
    display: block;
    height: 50px;
    width: 100%;
    background-size: 16rem;
    background-position: 0 50%;
    background-repeat: no-repeat;
    background-image: url("/ua.svg");
  }
</style>
