---
// TODO: 看看能不能支持暗色模式（包括代码块？）
import { fetchCodes } from "@/utils/fetchCodes";

const info = await fetchCodes();
const post = Astro.url.pathname.split("/").at(-1);
const title = info[post]?.chName || "";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Use Algorithm{title ? ` | ${title}` : ""}</title>
    <link href="/favicon.svg" rel="icon" type="image/svg+xml" />

    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <header class="header">
      <a href="/" class="home"></a>
      <a
        href="https://github.com/qiutongxue/use-algorithm-site"
        class="link github"></a>
    </header>
    <slot />
  </body>
</html>

<style>
  @import "../../styles/iconVars.css";
  body {
    margin: 0;
  }

  header {
    background-color: #fff;
    display: flex;
    align-items: center;
    padding: 0 1rem;
    justify-content: start;
    height: 60px;
    position: fixed;
    left: 0;
    right: 0;
    margin: 0;
    z-index: 999;
    border-bottom: 1px solid #ddd;
  }

  header .home {
    display: block;
    height: 50px;
    width: 260px;
    background-size: 16rem;
    background-position: 0 50%;
    background-repeat: no-repeat;
    background-image: url("/ua.svg");
  }

  header .link {
    margin-left: auto;
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 100%;
  }

  header .link.github {
    background-image: var(--icon-github);
  }
</style>
